iot-analytics/helper/loudml_flow.json
[{"id":"4a517b55d804a960","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"b7a27e43963a8887","type":"debug","z":"4a517b55d804a960","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":220,"wires":[]},{"id":"13b3657a223a2b74","type":"http request","z":"4a517b55d804a960","name":"models","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.128.0.6:8077/models","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":680,"y":220,"wires":[["b7a27e43963a8887"]]},{"id":"8ea9e9c81b7bfd09","type":"inject","z":"4a517b55d804a960","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"bucket_interval\":\"1m\",\"default_bucket\":\"temperature\",\"offset\":\"30s\",\"features\":[{\"metric\":\"avg\",\"field\":\"value\",\"name\":\"mean_temperature\",\"default\":0,\"anomaly_type\":\"low_high\"}],\"min_threshold\":75,\"max_threshold\":95,\"name\":\"temperature_forecast\",\"interval\":\"1m\",\"max_evals\":5,\"type\":\"donut\",\"span\":10,\"forecast\":5}","payloadType":"json","x":320,"y":180,"wires":[["13b3657a223a2b74"]]},{"id":"0cb11864cb05e044","type":"inject","z":"4a517b55d804a960","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":440,"wires":[["69469bc2db8aee28"]]},{"id":"0b04df945cd5445a","type":"debug","z":"4a517b55d804a960","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":460,"wires":[]},{"id":"69469bc2db8aee28","type":"http request","z":"4a517b55d804a960","name":"train","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.128.0.6:8077/models/temperature_forecast/_train?from=now-1h&to=now","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":700,"y":480,"wires":[["0b04df945cd5445a"]]},{"id":"d561ecc8d5ae7f34","type":"inject","z":"4a517b55d804a960","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":640,"wires":[["f69583a1a853c12c"]]},{"id":"f69583a1a853c12c","type":"http request","z":"4a517b55d804a960","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.128.0.6:8077/jobs","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":720,"y":700,"wires":[["5ce19a2beff9d3ce"]]},{"id":"5ce19a2beff9d3ce","type":"debug","z":"4a517b55d804a960","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":660,"wires":[]},{"id":"30e2a6b20e969e23","type":"http request","z":"4a517b55d804a960","name":"start","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.128.0.6:8077/models/temperature_forecast/_start","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":710,"y":880,"wires":[["5ce19a2beff9d3ce"]]},{"id":"d0cdb77cd2f6deef","type":"inject","z":"4a517b55d804a960","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":840,"wires":[["30e2a6b20e969e23"]]},{"id":"197b8526e8b98439","type":"http request","z":"4a517b55d804a960","name":"forecast","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.128.0.6:8077/models/temperature_forecast/_forecast?from=now&to=now+1h&bg=true&s=","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":740,"y":1000,"wires":[["5ce19a2beff9d3ce"]]},{"id":"4af5548694797bed","type":"inject","z":"4a517b55d804a960","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":450,"y":1060,"wires":[["22abf39b993bb462"]]},{"id":"03c168c21a15b11b","type":"http request","z":"4a517b55d804a960","name":"","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://10.128.0.6:8077/models/temperature_forecast","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":720,"y":340,"wires":[["b7a27e43963a8887"]]},{"id":"42eafb391dc74d5e","type":"inject","z":"4a517b55d804a960","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":320,"wires":[["03c168c21a15b11b"]]},{"id":"6e1aa890caaada72","type":"inject","z":"4a517b55d804a960","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":1240,"wires":[["8a9242ab127f6954"]]},{"id":"8a9242ab127f6954","type":"http request","z":"4a517b55d804a960","name":"buckets","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.128.0.6:8077/buckets","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":790,"y":1240,"wires":[["5ce19a2beff9d3ce"]]},{"id":"35dc1d6dedf2728c","type":"function","z":"4a517b55d804a960","name":"","func":"var new_msg ={};\nnew_msg[\"payload\"] = [];\n\nfor( let i = 0; i < msg[\"payload\"][\"predicted\"][\"mean_temperature\"].length ;i++){\n    new_msg[\"payload\"].push({\"measurement\":\"temperature\", \"fields\": {\"predicted_lower\": msg[\"payload\"][\"predicted\"][\"lower_mean_temperature\"][i]}, \"tags\":{\"machine\":\"room_lab\"}, \"timestamp\": msg[\"payload\"][\"timestamps\"][i] });\n    new_msg[\"payload\"].push({\"measurement\":\"temperature\", \"fields\": {\"predicted_upper\": msg[\"payload\"][\"predicted\"][\"upper_mean_temperature\"][i]}, \"tags\":{\"machine\":\"room_lab\"}, \"timestamp\": msg[\"payload\"][\"timestamps\"][i] });\n    new_msg[\"payload\"].push({\"measurement\":\"temperature\", \"fields\": {\"predicted_mean\": msg[\"payload\"][\"predicted\"][\"mean_temperature\"][i]}, \"tags\":{\"machine\":\"room_lab\"}, \"timestamp\": msg[\"payload\"][\"timestamps\"][i] });\n}\n\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1040,"wires":[["6b6eaacba1b6d692","5ce19a2beff9d3ce"]]},{"id":"22abf39b993bb462","type":"http request","z":"4a517b55d804a960","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.128.0.6:8077/models/temperature_forecast/_forecast?from=now&to=now+10m","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":780,"y":1140,"wires":[["35dc1d6dedf2728c","5ce19a2beff9d3ce"]]},{"id":"6b6eaacba1b6d692","type":"influxdb batch","z":"4a517b55d804a960","influxdb":"c7611dbb934173bb","precision":"s","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1440,"y":1040,"wires":[]},{"id":"c7611dbb934173bb","type":"influxdb","hostname":"instance-influxdb","port":"8086","protocol":"http","database":"fabrikdaten","name":"http://instance-influxdb:8086","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]