iot-basics/helper/dashboard_mosquitto.json
[{"id":"1ddb65eb02e87183","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"c533abfe60765738","type":"mqtt in","z":"1ddb65eb02e87183","name":"Benzene","topic":"room_lab/state/benzene","qos":"2","datatype":"json","broker":"514048d99e5aca9e","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":220,"wires":[["a9672cab7b4ef9c9"]]},{"id":"82b50dbe0794be5b","type":"debug","z":"1ddb65eb02e87183","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":80,"wires":[]},{"id":"5a65df139d829674","type":"mqtt in","z":"1ddb65eb02e87183","name":"Temperature","topic":"room_lab/state/temperature","qos":"0","datatype":"auto","broker":"514048d99e5aca9e","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":340,"wires":[["e1dce6ca27d1b624"]]},{"id":"e1dce6ca27d1b624","type":"json","z":"1ddb65eb02e87183","name":"","property":"payload","action":"","pretty":false,"x":650,"y":340,"wires":[["b2499c2f5a333933"]]},{"id":"fa48c8a18e7502f8","type":"ui_gauge","z":"1ddb65eb02e87183","name":"","group":"6b8f184bf4e460eb","order":0,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1230,"y":380,"wires":[]},{"id":"b2499c2f5a333933","type":"function","z":"1ddb65eb02e87183","name":"","func":"var new_msg = {\"payload\": msg[\"payload\"][\"value\"]};\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":360,"wires":[["fa48c8a18e7502f8","0ec97962b38668bb"]]},{"id":"a9672cab7b4ef9c9","type":"function","z":"1ddb65eb02e87183","name":"","func":"var new_msg = {\"payload\": msg[\"payload\"][\"value\"]};\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":220,"wires":[["471c02e4a36931b2"]]},{"id":"471c02e4a36931b2","type":"ui_gauge","z":"1ddb65eb02e87183","name":"Benzene","group":"6b8f184bf4e460eb","order":1,"width":"6","height":"4","gtype":"gage","title":"Benzene","label":"units","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1240,"y":220,"wires":[]},{"id":"0ec97962b38668bb","type":"ui_chart","z":"1ddb65eb02e87183","name":"Temperature","group":"d3cddc7179c6e995","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":600,"wires":[[]]},{"id":"514048d99e5aca9e","type":"mqtt-broker","name":"local-mosquitto","broker":"instance-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6b8f184bf4e460eb","type":"ui_group","name":"Dashboard","tab":"3ad76bb9969fa3e5","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"d3cddc7179c6e995","type":"ui_group","name":"Zeitreihe","tab":"d851b275fec63869","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3ad76bb9969fa3e5","type":"ui_tab","name":"Sensordaten","icon":"dashboard","disabled":false,"hidden":false},{"id":"d851b275fec63869","type":"ui_tab","name":"Zeitreihe","icon":"dashboard","disabled":false,"hidden":false}]