iot-basics/helper/flows_process.json
[{"id":"5dd2c1cf2c7643e5","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"85312229174ce4c1","type":"influxdb out","z":"5dd2c1cf2c7643e5","influxdb":"8c202735afabaf13","name":"fabrikdaten","measurement":"sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":300,"wires":[]},{"id":"adf4c3f12441d94a","type":"mqtt in","z":"5dd2c1cf2c7643e5","name":"","topic":"fabrik/machine1/#","qos":"2","datatype":"auto","broker":"8a6addc63cbb7608","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":160,"wires":[["b87e92a4187297dd"]]},{"id":"8613504f59d0a437","type":"google-cloud-pubsub in","z":"5dd2c1cf2c7643e5","account":"","keyFilename":"","subscription":"projects/mittelstand-cloud-prep-02/subscriptions/fabrik-machine1-sensor3-sub","assumeJSON":false,"name":"","x":250,"y":500,"wires":[["ba4c3a8b18901db8"]]},{"id":"1e0b70ac4dfb2a27","type":"mqtt in","z":"5dd2c1cf2c7643e5","name":"","topic":"fabrik/machine2/#","qos":"2","datatype":"auto","broker":"8a6addc63cbb7608","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":220,"wires":[["b87e92a4187297dd"]]},{"id":"3cc787bd2010576b","type":"mqtt in","z":"5dd2c1cf2c7643e5","name":"","topic":"fabrik/machine3/#","qos":"2","datatype":"auto","broker":"8a6addc63cbb7608","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":280,"wires":[["b87e92a4187297dd"]]},{"id":"b87e92a4187297dd","type":"function","z":"5dd2c1cf2c7643e5","name":"","func":"var tags = msg.topic.split(\"/\");\nvar value = parseFloat(msg.payload);\nif (!isNaN(value)){\n    var new_msg = {};\n    new_msg[\"payload\"] = [{\"value\": value},{\"fabrik\": tags[0], \"machine\": tags[1], \"sensor\": tags[2]}];\n    return new_msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":320,"wires":[["85312229174ce4c1"]]},{"id":"ba4c3a8b18901db8","type":"function","z":"5dd2c1cf2c7643e5","name":"","func":"var new_msg = {};\nvar value = parseFloat(msg.payload.toString());\nif (!isNaN(value)){\n    new_msg[\"payload\"] = [{\"value\": value},{\"fabrik\": \"fabrik\", \"machine\": \"machine1\", \"sensor\": \"sensor3\"}];\n    return new_msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":440,"wires":[["85312229174ce4c1"]]},{"id":"224e4eca33276492","type":"debug","z":"5dd2c1cf2c7643e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":520,"wires":[]},{"id":"8c202735afabaf13","type":"influxdb","hostname":"10.128.0.4","port":"8086","protocol":"http","database":"fabrikdaten","name":"fabrikdaten","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"8a6addc63cbb7608","type":"mqtt-broker","name":"","broker":"35.188.168.98","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]