iot-basics/helper/flows_stream.json
[{"id":"05fd3a4f78c3a68b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"bc40222a46c8434b","type":"file in","z":"05fd3a4f78c3a68b","name":"","filename":"/data/uci-secom.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":280,"y":220,"wires":[["b82e29b0985c2001"]]},{"id":"b82e29b0985c2001","type":"csv","z":"05fd3a4f78c3a68b","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":470,"y":340,"wires":[["f70688d1f4726e3d"]]},{"id":"a03ce873d675345a","type":"debug","z":"05fd3a4f78c3a68b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":60,"wires":[]},{"id":"ef3532757fe84c55","type":"inject","z":"05fd3a4f78c3a68b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":120,"wires":[["bc40222a46c8434b"]]},{"id":"f70688d1f4726e3d","type":"function","z":"05fd3a4f78c3a68b","name":"","func":"var msg1 = {};\nmsg1[\"payload\"] = msg[\"payload\"][\"col2\"];\nmsg1[\"topic\"] = \"fabrik/machine1/sensor1\";\nvar msg2 = {};\nmsg2[\"payload\"] = msg[\"payload\"][\"col3\"];\nmsg2[\"topic\"] = \"fabrik/machine2/sensor1\";\nvar msg3 = {};\nmsg3[\"payload\"] = msg[\"payload\"][\"col4\"];\nmsg3[\"topic\"] = \"fabrik/machine3/sensor1\";\n\nvar msg4 = {};\nmsg4[\"payload\"] = msg[\"payload\"][\"col6\"];\nmsg4[\"topic\"] = \"fabrik/machine1/sensor2\";\nvar msg5 = {};\nmsg5[\"payload\"] = msg[\"payload\"][\"col10\"];\nmsg5[\"topic\"] = \"fabrik/machine2/sensor2\";\nvar msg6 = {};\nmsg6[\"payload\"] = msg[\"payload\"][\"col13\"];\nmsg6[\"topic\"] = \"fabrik/machine3/sensor2\";\n\nvar msg7 = {};\nmsg7[\"payload\"] = msg[\"payload\"][\"col9\"];\nmsg7[\"topic\"] = \"fabrik/machine1/sensor3\";\nvar msg8 = {};\nmsg8[\"payload\"] = msg[\"payload\"][\"col11\"];\nmsg8[\"topic\"] = \"fabrik/machine2/sensor3\";\nvar msg9 = {};\nmsg9[\"payload\"] = msg[\"payload\"][\"col12\"];\nmsg9[\"topic\"] = \"fabrik/machine3/sensor3\";\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9];","outputs":9,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":340,"wires":[["47ed3abfc8b4ed60"],["47ed3abfc8b4ed60"],["47ed3abfc8b4ed60"],["47ed3abfc8b4ed60"],["47ed3abfc8b4ed60"],["47ed3abfc8b4ed60"],["5b26ab3c71eb7e04"],["47ed3abfc8b4ed60"],["47ed3abfc8b4ed60"]]},{"id":"47ed3abfc8b4ed60","type":"mqtt out","z":"05fd3a4f78c3a68b","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6addc63cbb7608","x":1150,"y":180,"wires":[]},{"id":"5b26ab3c71eb7e04","type":"google-cloud-pubsub out","z":"05fd3a4f78c3a68b","account":"","keyFilename":"","topic":"projects/mittelstand-cloud-prep-02/topics/fabrik-machine1-sensor3","name":"","x":1130,"y":580,"wires":[[]]},{"id":"8a6addc63cbb7608","type":"mqtt-broker","name":"","broker":"35.188.168.98","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]