iot-basics/helper/flow_pubsub_log.json
[{"id":"14571bee3fb187ed","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"583279e2ddae87a4","type":"google-cloud-pubsub in","z":"14571bee3fb187ed","account":"","keyFilename":"","subscription":"projects/workshop-iot-test-03/subscriptions/logs-sub","assumeJSON":false,"name":"","x":210,"y":180,"wires":[["16c66eebbe6c1f83","f9864abcc6ff689e"]]},{"id":"f9864abcc6ff689e","type":"debug","z":"14571bee3fb187ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":120,"wires":[]},{"id":"16c66eebbe6c1f83","type":"function","z":"14571bee3fb187ed","name":"","func":"var new_msg = {};\nvar value = (msg.payload.toString());\n\nnew_msg[\"payload\"] = [{\"value\": value},{\"log\": \"message\"}];\nreturn new_msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":240,"wires":[["f9864abcc6ff689e","f07958806bf939e0"]]},{"id":"f07958806bf939e0","type":"influxdb out","z":"14571bee3fb187ed","influxdb":"5f65ed1d19416233","name":"logs","measurement":"logs","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1130,"y":280,"wires":[]},{"id":"5f65ed1d19416233","type":"influxdb","hostname":"instance-influxdb","port":"8086","protocol":"http","database":"fabrikdaten","name":"fabrikdaten","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true,"credentials":{}}]