iot-basics/helper/flows_pubnub.json
[{"id":"f4dd9707c7a89f92","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"285d9bf9975a5841","type":"pubnub in","z":"f4dd9707c7a89f92","keys":"4d97d5cc02310b44","channel":"pubnub-sensor-network","auth_token":"","cipher_key":"","ssl":true,"verbose_logging":false,"x":230,"y":160,"wires":[["9c70ac0c284a3a90"]]},{"id":"651a85d9cf36758d","type":"debug","z":"f4dd9707c7a89f92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":160,"wires":[]},{"id":"9c70ac0c284a3a90","type":"function","z":"f4dd9707c7a89f92","name":"","func":"var new_msg = {};\nnew_msg[\"payload\"] = [{\"value\": parseFloat(msg[\"payload\"][\"ambient_temperature\"])},{\"fabrik\": \"fabrik\", \"machine\": \"machine4\", \"sensor\": \"ambient_temperature\"}];\nvar new_msg2 = {};\nnew_msg2[\"payload\"] = [{\"value\": parseFloat(msg[\"payload\"][\"photosensor\"])},{\"fabrik\": \"fabrik\", \"machine\": \"machine4\", \"sensor\": \"photosensor\"}];\nvar new_msg3 = {};\nnew_msg3[\"payload\"] = [{\"value\": parseFloat(msg[\"payload\"][\"radiation_level\"])},{\"fabrik\": \"fabrik\", \"machine\": \"machine4\", \"sensor\": \"radiation_level\"}];\nvar new_msg4 = {};\nnew_msg4[\"payload\"] = [{\"value\": parseFloat(msg[\"payload\"][\"humidity\"])},{\"fabrik\": \"fabrik\", \"machine\": \"machine4\", \"sensor\": \"humidity\"}];\n\n\nreturn [new_msg, new_msg2, new_msg3, new_msg4]","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":180,"wires":[["5844f5349dddb38f"],["5844f5349dddb38f"],["5844f5349dddb38f"],["5844f5349dddb38f"]]},{"id":"5844f5349dddb38f","type":"influxdb out","z":"f4dd9707c7a89f92","influxdb":"5f65ed1d19416233","name":"","measurement":"sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":880,"y":280,"wires":[]},{"id":"3eabb013e14b755e","type":"influxdb in","z":"f4dd9707c7a89f92","influxdb":"5f65ed1d19416233","name":"","query":"DELETE FROM sensor ","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":600,"y":420,"wires":[[]]},{"id":"88efee9251a46f89","type":"inject","z":"f4dd9707c7a89f92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":360,"wires":[["3eabb013e14b755e"]]},{"id":"4d97d5cc02310b44","type":"pubnub-keys","pub_key":"demo","sub_key":"sub-c-5f1b7c8e-fbee-11e3-aa40-02ee2ddab7fe"},{"id":"5f65ed1d19416233","type":"influxdb","hostname":"10.128.0.4","port":"8086","protocol":"http","database":"fabrikdaten","name":"fabrikdaten","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]