iot-basics/helper/flows_http.json
[{"id":"2c38fdad99c18f54","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"405e800902b284f2","type":"debug","z":"2c38fdad99c18f54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":140,"wires":[]},{"id":"514c5670c96914fe","type":"http request","z":"2c38fdad99c18f54","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.awattar.de/v1/marketdata","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":220,"y":140,"wires":[["75f0f560a9133e8e"]]},{"id":"170cd347291cc1f1","type":"inject","z":"2c38fdad99c18f54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["514c5670c96914fe"]]},{"id":"75f0f560a9133e8e","type":"json","z":"2c38fdad99c18f54","name":"","property":"payload","action":"","pretty":false,"x":330,"y":240,"wires":[["97179f4d1256ebee"]]},{"id":"97179f4d1256ebee","type":"function","z":"2c38fdad99c18f54","name":"","func":"var new_msg = {};\nnew_msg[\"payload\"] = [];\n//new_msg[\"precision\"] = \"ms\";\n\nmsg[\"payload\"][\"data\"].forEach(function(item){\n    //var datum = new Date(item[\"end_timestamp\"]);\n    // datum.toISOString()\n    new_msg[\"payload\"].push({\"measurement\":\"marktdaten\", \"fields\":{\"value\": item[\"marketprice\"]}, \"tags\": {\"type\":\"strom\"}, \"timestamp\": item[\"end_timestamp\"]});\n});\n\n//for(var data in msg[\"payload\"][\"data\"]){\n//    new_msg[\"payload\"].push({\"measurement\":\"marktdaten\", \"fields\":{\"value\": data[\"marketprice\"]}, \"tags\": {\"type\":\"strom\"}, \"timestamp\": data[\"end_timestamp\"]})\n//}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[["75581e314fd592ce"]]},{"id":"75581e314fd592ce","type":"influxdb batch","z":"2c38fdad99c18f54","influxdb":"5f65ed1d19416233","precision":"ms","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":790,"y":340,"wires":[]},{"id":"5f65ed1d19416233","type":"influxdb","hostname":"10.128.0.4","port":"8086","protocol":"http","database":"fabrikdaten","name":"fabrikdaten","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]