iot-basics/helper/flows_pubsub_inject.json
[{"id":"debff5e2aa007951","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"0f75f187c62616ed","type":"google-cloud-pubsub out","z":"debff5e2aa007951","account":"","keyFilename":"","topic":"projects/iot-workshop-test/topics/logs","name":"","x":1110,"y":240,"wires":[[]]},{"id":"30a54d0f3fe38d7c","type":"mqtt in","z":"debff5e2aa007951","name":"","topic":"room_lab/state/carbon_monoxide","qos":"2","datatype":"auto-detect","broker":"73672a7a2b6d68e4","nl":false,"rap":true,"rh":0,"inputs":0,"x":360,"y":240,"wires":[["8050c49cf3684e49"]]},{"id":"8050c49cf3684e49","type":"function","z":"debff5e2aa007951","name":"function 1","func":"msg.payload = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":240,"wires":[["0f75f187c62616ed"]]},{"id":"73672a7a2b6d68e4","type":"mqtt-broker","name":"Mosquitto","broker":"instance-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]