iot-basics/node-red/flows_stream.json
[{"id":"05fd3a4f78c3a68b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"bc40222a46c8434b","type":"file in","z":"05fd3a4f78c3a68b","name":"","filename":"/data/uci-secom.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":280,"y":220,"wires":[["b82e29b0985c2001"]]},{"id":"b82e29b0985c2001","type":"csv","z":"05fd3a4f78c3a68b","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":470,"y":340,"wires":[["a03ce873d675345a"]]},{"id":"a03ce873d675345a","type":"debug","z":"05fd3a4f78c3a68b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":100,"wires":[]},{"id":"ef3532757fe84c55","type":"inject","z":"05fd3a4f78c3a68b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":120,"wires":[["bc40222a46c8434b"]]},{"id":"f70688d1f4726e3d","type":"function","z":"05fd3a4f78c3a68b","name":"","func":"\nreturn msg;","outputs":9,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":340,"wires":[[],[],[],[],[],[],[],[],[]]},{"id":"47ed3abfc8b4ed60","type":"mqtt out","z":"05fd3a4f78c3a68b","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":1180,"y":240,"wires":[]},{"id":"f26b14fa26402caf","type":"websocket out","z":"05fd3a4f78c3a68b","name":"","x":1220,"y":300,"wires":[]}]